:root {
  --screen-bg: #1e1e1e;
  --card-radius: 12px;
  --text-light: #fff;
}

body { 
    background:#eee; 
    display:flex; 
    justify-content:center; 
    padding:24px; 
}

.empty{
  margin-top: 5rem;
}


.empty-text{
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
}