:root {
  --screen-bg: #1e1e1e;
  --card-radius: 12px;
  --text-light: #fff;
}

body { 
    background:#eee; 
    display:flex; 
    justify-content:center; 
}

.screen {
  width:360px;
  height:700px;
  background:var(--screen-bg);
  border-radius:18px;
  padding:18px;
  box-shadow:0 6px 20px rgba(0,0,0,0.12);
  color:var(--text-light);
  position:relative;
  overflow:hidden;
}



.note-card {
  position: relative;
  margin-top: 1rem;
  padding: 14px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 90px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  backdrop-filter: blur(6px);
  transition: transform 0.2s ease;
}
.note-card:hover {
  transform: translateY(-2px);
}

.note-content {
  flex: 1;
}

.note-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 6px 0;
  color: #111;
}

.note-preview {
  font-size: 14px;
  color: #000000;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  gap: 10px;
}

.note-actions img {
  width: 2px;
  height: 2px;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.note-actions img:hover {
  opacity: 1;
}




.notes-list { 
    display:flex; 
    flex-direction:column; 
    gap:12px; 
    right: 0;
    padding-bottom:90px; 
    overflow:auto; 
    height:calc(100% - 120px); 
}


.containerbtn {
  display: flex;
  justify-content: space-between;
}

.fab {
  background-color: #3c3c3c;
  box-shadow: 0 4px 18px #3c3c3c;
  margin-top: 5em;
  position: relative;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: none;
  margin-left: auto;
}
.fab:hover{
  transform: translateY(-8px);
}
